@import "./config.scss";
@import "./menu.scss";
@import "./text.scss";

.#{$editor} {
  height: 60vh;
  color: $color;
  position: relative;

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $title-color;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: $title-color;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $title-color;
  }

  &-focus {
    height: 30vh;
  }

  & * {
    box-sizing: content-box !important;
  }

  & h1 {
    font-weight: bold !important;
    font-size: 3em !important;
  }

  & h2 {
    font-weight: bold !important;
    font-size: 2.6em !important;
  }

  & h3 {
    font-weight: bold !important;
    font-size: 2em !important;
  }

  & h4 {
    font-weight: bold !important;
    font-size: 1.5em !important;
  }

  & h5 {
    font-weight: bold !important;
    font-size: 1em !important;
  }

  & h6 {
    font-weight: bold !important;
    font-size: 0.83em !important;
  }

  & span {
    font-size: inherit !important;
  }

  & strong,
  & b {
    font-weight: bold !important;
  }

  & p {
    font-size: 1.5em;
    padding: 10px 0;
  }

  & i {
    font-style: italic !important;
  }

  & ul {
    display: block !important;
    list-style-type: disc !important;
    margin-left: 10px !important;
    padding-left: 20px !important;
  }

  & ul li {
    display: list-item !important;
  }
}
