.#{$prefix}text {
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  padding: 16px;
  overflow: auto;
  color: $color;
  font-family: 'Microsoft YaHei', 'PingFangSC', 'Helvetica', sans-serif, 'Arial';

  & div {
    font-size: 24px !important;
    padding: 10px 0;
  }

  &:focus {
    outline: none;
  }

  &-wrap {
    border: 1px solid $menu-color;
    border-top: none;
    background: $bg-main;
    height: calc(100% - 35px);
    width: calc(100% - 2px);
    overflow-y: auto;
    box-sizing: content-box;
  }

  &-link {
    text-decoration: none;
    color: $blue;
  }

  &-img {
    width: 100%;
    display: block;
  }
}
